body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* my added css */
*  {
  background: white;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

p {
  font-size: 22px;
  color: black;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: auto 30px; 
  padding: 10px;
  color: #660033;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
}



#myImage {
  width: 20%;
  margin: 0px;
}

#about-container, #image-container, .education-container {
  margin: 0px 10px;
}

.key-title, .resume, .name, .title, .contact, .education {
  font-weight: normal;
  color: #660033;
  font-family: 'Courier New', Courier, monospace;
}

.name {
  font-size: 4rem;
  color: #660033;
  display: flex;
  justify-content: center;
  align-content: center;
  letter-spacing: 20px;
}

.job {
  font-size: 2rem;
  color: #660033;
  display: flex;
  justify-content: center;
  align-content: center;       
}

.school-name {
  font-weight: normaler;
  color:#788b85
}

.card {
  background-color: white;
  border-radius: 2px;
  height: 525px;
  margin: 1rem;
  justify-content: space-evenly;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  overflow: hidden;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
.card > .img-container > img {
  width: 100%;
  padding: 10px;
  background-color: white;
}

.card > .content {
  font-size: 18px;
  background-color: white;
  color: black;
  font-weight: normal;
}

.card > .content > ul {
  list-style-type: none;
  background-color: white;
}

.card > .content > ul > li {
  margin-top: 18px;
  background-color: white;
}

.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

 #footer {
  margin: auto 700px;
  padding: 5px;
}

.icon {
  width: 30%;
  padding: -50px 20px;
}

.nav {
  justify-content: flex-end;
  font-size: 24px;
  list-style: none;
}

#port-icon {
  justify-content: center;
  width: 60%;
  background-color: white;
  margin: auto 10px;
}

.project-title {
  background-color: white;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;

}

.project-description {
  background-color: white;
  font-weight: normal;
  color: #660033;
}

.project-icons {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}



#contact-form {
  margin: 15px 500px;
  font-size: 18px;
  color: black;
  font-weight: normal;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.resume-container {
  margin: 20px 50px;
  color: black;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 22px;
}

.nav-link, .link, .btn {
  color: #660033;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
}

.nav-link:hover, .link:hover {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.active {
  color: black;
}

.banner {
  width: 100%;
}

.my-image {
  width: 20%;
  border-radius: 50%;
}

.contact-container {
  margin: 100px;
  justify-content: center;
}

@media screen and (max-width: 767px) { 
  p, .resume-container {
    font-size: 20px;
  }

  .education, .resume {
    font-size: 24px;
  }

  .image {
    width: 20%;
    height: 20%;
  }

  .name {
    font-size: 35px;
    color: #660033;
    letter-spacing: normal;
  }
  
  .job {
    font-size: 30px;
    color: #660033;
  }

  .nav {
    justify-content: flex-end;
    font-size: 22px;
  }

  .contact-icons, .icon-text {
    margin: auto 50%; 
    width: 10%;
  }
  
}